
header{
    font-size: 9.5px;
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    left: -70px;
    display: flex;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(130deg, white 30%,rgb(57, 181, 219) -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000%;
}
/* justify-content: space-between; */
header .logo img{
    width: 14%;
}


nav a{
    color: white;
    font-size: 17px;
    padding: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}



#navbar:hover{
    color: -primary;
}



.table {
    text-align: center;
}

section{
    width: 800px;
    margin: auto;
}














